*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

ul{
    list-style-type: none;
}

ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    max-width: 1250px;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
}

header {
    background-color: #FCFCFF;
    border-bottom: 1px solid #EFEFFF;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 99px;
}

header .content nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 18px;
}

header nav a.active {
    background-color: #F1F1FD;
}

header .content .menu {
    display: none;
}

.login {
    color: black;
    background: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 6px;
}

header .account .sign-up {
    background-color: #14203E;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 6px;
}
main .landing {
    background-color: #FCFCFF;
    padding-top: 40px;
}

main .landing .chip {
    padding: 10px 16px;
    background-color: white;
    color: red;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 50px;
}
main .landing .content {
    height: 75vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

main .landing h1 {
    font-size: 66px;
    font-weight: bold;
    color: #14203E;
}

main .landing p {
    font-size: 22px;
}
main img {
    width: 100%;
}
main .landing .search {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0;
    padding: 6px;
    border-radius: 16px;
    width: 100%;
    height: 75px;
    background-color: white;
    border: 1px solid #EFEFFF;
    box-shadow: 0px 16px 35px -15px #02058426;
}

main .landing .search select {
    background: none;
    border: none;
    font-size: 14px;
    padding: 10px 16px;
    height: 100%;
}

main .landing .search button {
    background: none;
    border: none;
    height: 100%;
    border-left: 1px solid #EFEFFF;
    padding: 0px 16px;
}

main .landing .search input {
    background: none;
    border: none;
    font-size: 16px;
}

main .designs .headline {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

main .headline .left {
    text-align: left;
}

main .headline .left span {
    background-color: #FCFCFF;
    border: 1px solid #EFEFFF;
    border-radius: 45px;
    padding: 2px;
    display: inline-block;
}

main .headline .left button {
    background-color: inherit;
    border: none;
    border-radius: 45px;
    padding: 14px 18px;
}
main .headline .left button.active {
    background-color: white;
    border: 1px solid #EFEFFF;
    box-shadow: 0px 10px 15px -10px #0205840D;
}
main .headline .mid {
    text-align: center;
}

main .headline .mid span {
    padding: 10px 16px;
    border-radius: 18px;
}

main .headline .mid .active {
    color: #202142;
    background-color: #FCFCFF;
    border: 1px solid #EFEFFF;
}
main .headline .right {
    text-align: right;
}

main .headline img {
    width: 50px;
}

main .designs .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
}

main .cards .card .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .cards .card .user {
    display: flex;
    gap: 5px;
    align-items: center;
    text-wrap: nowrap;
}

main .cards .card .user span {
    font-weight: bold;
}

main .cards .card .actions {
    display: flex;
    align-items: center;
}


@media (max-width: 1000px) {
    
    header .content nav,
    header .content > .account  {
        display: none;
    }

    header .content .menu {
        display: block;
        position: relative;
    }

    header .content .menu {
        padding: 10px 15px;
    }
    header .content .menu > div {
        display: flex;
        flex-direction: column;
        height: 10px;
        justify-content: space-around;
    }

    header .content .menu div span {
        width: 20px;
        height: 1px;
        background-color: white;

    }
    header .content .menu:hover nav{
        display: flex;
        position: fixed;
        justify-content: space-between;
        background: #FFFCF8;
        transform: translate(0%, 0%);
        padding: 10px;
        flex-direction: column;
        gap: 15px;
        border: 1px solid #F4E8D8;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding-top: 100px;
        padding-bottom: 50px;
        width: 300px;
    }
    header .content .menu nav a {
        margin: 10px;
    }
    main .landing .content {
        width: 80%;
        padding: 16px;
    }
}

@media screen and (max-width: 1100px) {
    main .designs .headline{
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    main .headline .mid {
        text-align: left;
    }
    main .headline .left {
        grid-column: 1 /3;
    }
}

@media screen and (max-width: 800px) {
    main .landing .content {
        width: 100%;
        padding: 16px;
    }
    main .landing h1 {
        font-size: 40px;
    }
    main .landing p {
        font-size: 18px;
    }

    header .account button {
        font-size: 14px;
    }
    
    main .designs .headline{
        grid-template-columns: repeat(1, 1fr);
    }
    main .headline .mid {
        grid-column: 1 / 3;
        text-align: center;
    }
    main .headline .left {
        grid-column: 1 / 3;
        text-align: center;
    }
    main .headline .right {
        grid-column: 1 / 3;
        text-align: center;
    }
}